@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background: linear-gradient(to bottom, #2a1b6b, #5c44a2);
    color: #fff;
    position: relative;
}

.estrelas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:
        radial-gradient(1px 1px at 25% 15%, #fff, transparent),
        radial-gradient(2px 1px at 50% 40%, #fff, transparent),
        radial-gradient(2px 2px at 75% 35%, #fff, transparent),
        radial-gradient(1.5px 1px at 10% 50%, #fff, transparent),
        radial-gradient(1px 1px at 20% 60%, #fff, transparent),
        radial-gradient(1px 1px at 30% 70%, #fff, transparent),
        radial-gradient(1px 1px at 40% 80%, #fff, transparent),
        radial-gradient(1.5px 1.5px at 50% 5%, #fff, transparent),
        radial-gradient(1px 1px at 60% 20%, #fff, transparent),
        radial-gradient(1px 1px at 5% 30%, #fff, transparent),
        radial-gradient(1px 1px at 80% 40%, #fff, transparent),
        radial-gradient(1px 1px at 80% 50%, #fff, transparent),
        radial-gradient(1px 1px at 100% 60%, #fff, transparent),
        radial-gradient(1px 1px at 25% 15%, #fff, transparent),
        radial-gradient(2px 1px at 50% 40%, #fff, transparent),
        radial-gradient(2px 2px at 75% 35%, #fff, transparent),
        radial-gradient(1.5px 1px at 10% 50%, #fff, transparent),
        radial-gradient(1px 1px at 20% 60%, #fff, transparent),
        radial-gradient(1px 1px at 20% 70%, #fff, transparent),
        radial-gradient(1px 1px at 25% 80%, #fff, transparent),
        radial-gradient(1.5px 1.5px at 50% 5%, #fff, transparent),
        radial-gradient(1px 1px at 60% 20%, #fff, transparent),
        radial-gradient(1px 1px at 5% 30%, #fff, transparent),
        radial-gradient(1px 1px at 80% 40%, #fff, transparent),
        radial-gradient(1px 1px at 5% 95%, #fff, transparent),
        radial-gradient(1px 1px at 100% 60%, #fff, transparent);
}

.form {
    width: 400px;
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    padding: 20px;
}

.form h1 {
    font-size: 28px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.form .input-grup {
    position: relative;
    margin-bottom: 20px;
}

.form .input-grup input {
    width: 100%;
    height: 50px;
    padding: 0 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    outline: none;
}

.form .input-grup input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.form .input-grup i {
    position: absolute;
    right: 20px;
    font-size: 20px;
    color: #fff;
    top: 25%;
    align-items: center;
}

.form .input-grup-lembrar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 16px;
}

.form .input-grup-lembrar label {
    display: flex;
    align-items: center;
    gap: 5px;
}

.form .input-grup-lembrar a {
    text-decoration: none;
    color: #ffff;
}

.form .input-grup-lembrar a:hover {
    text-decoration: underline;
}

.form button {
    width: 100%;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    border-radius: 10px;
    outline: none;
    color: #2a1b6b;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s;
}

.form button:hover {
    background-color: #fff;
    cursor: pointer;
    transform: scale(1.02);
}

.form .link-registo {
    text-align: center;
    margin-top: 25px;
    font-size: 14px;
}

.form .link-registo a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.form .link-registo a:hover {
    text-decoration: underline;
}

.form #msgSuccess {
    color: #4BB543;
    text-align: center;
    margin: 10px;
}