/* Font Google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Root */
:root {
    --background: url(/images/background-body.jpg);
    --background-right: url(/images/background-right.jpg);
    --bachground-position: center;
    --background-size: cover;
    --background-repeat: no-repeat;
}

/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    background: var(--background);
    background-position: var(--background-position);
    background-size: var(--background-size);
    background-repeat: var(--background-repeat);
    background-attachment: fixed;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: #fff;
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    z-index: 1;
    overflow: hidden; /* For the container */ 
}
section {
    padding: 60px 0;
}
img {
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 600;
}
p {
    margin: 0;
    font-weight: 400;
}
.login-title {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.login-paragraph {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
    color: #fff;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.login {

    width: 100%;
    max-width: 600px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}

.login .login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.login .login-form .group-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.login-form .group-input label {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.login-form .group-input input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    transition: all 0.3s ease-in-out;
}
.login-form .group-input input:focus {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);  
}
.login-form .group-input input::placeholder {
    font-size: 16px;
    font-weight: 350;
}
.login-form .group-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login-form .group-links .links {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
}
.login-form .group-links .links:hover {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
}
.login-form .group-input button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255);
    color: #000;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.login-form .group-input button:hover {
    background: rgba(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    transform: scale(1.05);
}

